@mixin cf {
  &:before, &:after {
    content: " ";
    display: block;
  }
  &:after {
    clear: both;
  }
  *zoom:1;
}

/*
@mixin wave-border-top() {
    background: image-url("wave-top.png") repeat-x left top;
}
*/
