
.hero {
    padding: $base 6%;
    background: $blue;
    text-align: center;
    color: #fff;
    
    @include bp-min-width($medium) {
    padding: $base*2 6%;
    }
    
    .title {
        margin-bottom: 6px;
    }
    
    p {
        max-width: 560px;
        margin: 0 auto;
        font-size: 18px;
        
        &:first-of-type {
            margin-bottom: 1.5em;
        }
        
    }
}