
.news-post {
    @include cf;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $lt-grey;

    @include bp-min-width($medium) {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    
    &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

.post-thumb {
    float: left;
    width: 25%;
    overflow: hidden;
    border-radius: 50%;
}

.news-post .post-info {
    float: left;
    width: 75%;
    padding-left: 6%;
}

.post-date {
    color: $dk-grey;
    font-size: 14px;
    text-transform: uppercase;
}