/* Vendor Dependencies */
/* Global */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900);
/* line 1, ../sass/global/_reset.scss */
* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/global/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 1, ../sass/global/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../sass/global/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/global/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 1, ../sass/global/_reset.scss */
button, input {
  line-height: normal;
}

/* line 1, ../sass/global/_reset.scss */
input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* line 1, ../sass/global/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 1, ../sass/global/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../sass/global/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/global/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 1, ../sass/global/_reset.scss */
iframe {
  width: 100%;
}

/* line 1, ../sass/global/_reset.scss */
object {
  max-width: 100%;
}

/* line 1, ../sass/global/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/global/_reset.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 1, ../sass/global/_reset.scss */
.cf:after {
  clear: both;
}

/* line 1, ../sass/global/_reset.scss */
.cf {
  *zoom: 1;
}

/* line 13, ../sass/global/_typography.scss */
body {
  font: 400 1em/1.5em "Source Sans Pro", Helvetica, arial, sans-serif;
}

/* line 17, ../sass/global/_typography.scss */
h1, h2, h3, h4, h5 {
  line-height: 1;
}

/* line 21, ../sass/global/_typography.scss */
h1 {
  font-size: 42px;
}

/* line 25, ../sass/global/_typography.scss */
h2 {
  font-size: 30px;
}

/* line 29, ../sass/global/_typography.scss */
h3 {
  font-size: 24px;
}

/* line 33, ../sass/global/_typography.scss */
h4 {
  font-size: 18px;
  font-weight: 600;
}

/* line 38, ../sass/global/_typography.scss */
h5 {
  font-size: 16px;
  font-weight: 600;
}

/* line 43, ../sass/global/_typography.scss */
.title-section {
  margin-bottom: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid #ecf0f1;
  font-size: 54px;
  font-weight: 700;
}

/* line 51, ../sass/global/_typography.scss */
.title-sub-section {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ecf0f1;
  color: #2980b9;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 66, ../sass/global/_typography.scss */
strong {
  font-weight: 700;
}

/* line 70, ../sass/global/_typography.scss */
em {
  font-style: italic;
}

/* line 74, ../sass/global/_typography.scss */
.label {
  color: #95a5a6;
  font-weight: 700;
}

/* line 79, ../sass/global/_typography.scss */
.body p,
.body ul,
.body ol {
  margin-bottom: 24px;
}
/* line 83, ../sass/global/_typography.scss */
.body p:last-child, .body p.label,
.body ul:last-child,
.body ul.label,
.body ol:last-child,
.body ol.label {
  margin-bottom: 0;
}

/* line 88, ../sass/global/_typography.scss */
.body ul,
.body ol {
  margin-left: 1.5em;
}

/* line 93, ../sass/global/_typography.scss */
.body ul li {
  list-style: disc;
}

/* line 97, ../sass/global/_typography.scss */
.body ol li {
  list-style: decimal;
}

/* $sprite: image-url("sprite.svg"); */
/* line 2, ../sass/global/_icons.scss */
[class*="icon-"] {
  display: block;
  /*     background: $sprite no-repeat 0 0; */
}

/* line 7, ../sass/global/_icons.scss */
.icon-twitter {
  width: 26px;
  height: 21px;
  background-position: 0 -350px;
}

/* line 13, ../sass/global/_icons.scss */
.icon-facebook {
  width: 13px;
  height: 22px;
  background-position: 0 -374px;
}

/* line 19, ../sass/global/_icons.scss */
.icon-yelp {
  width: 40px;
  height: 18px;
  background-position: 0 -399px;
}

/*
@mixin wave-border-top() {
    background: image-url("wave-top.png") repeat-x left top;
}
*/
/* 36px*/
/* line 4, ../sass/global/_grid.scss */
.grid {
  *zoom: 1;
  margin: 0 -3% 24px -3%;
}
/* line 2, ../sass/global/_mixins.scss */
.grid:before, .grid:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.grid:after {
  clear: both;
}
@media (min-width: 740px) {
  /* line 4, ../sass/global/_grid.scss */
  .grid {
    margin: 0 -18px 24px -18px;
  }
}

/* line 13, ../sass/global/_grid.scss */
[class*='col-'] {
  float: left;
  width: 100%;
  padding: 0 3%;
}
@media (min-width: 740px) {
  /* line 13, ../sass/global/_grid.scss */
  [class*='col-'] {
    padding: 0 18px;
  }
}

@media (min-width: 740px) {
  /* line 23, ../sass/global/_grid.scss */
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 740px) {
  /* line 29, ../sass/global/_grid.scss */
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 740px) {
  /* line 35, ../sass/global/_grid.scss */
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 740px) {
  /* line 41, ../sass/global/_grid.scss */
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 740px) {
  /* line 47, ../sass/global/_grid.scss */
  .col-1-4 {
    width: 25%;
  }
}

/* line 1, ../sass/global/_base.scss */
.wrapper {
  *zoom: 1;
  width: 92%;
  max-width: 1140px;
  padding: 32px 0;
  margin: 0 auto;
}
/* line 2, ../sass/global/_mixins.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.wrapper:after {
  clear: both;
}
@media (min-width: 600px) {
  /* line 1, ../sass/global/_base.scss */
  .wrapper {
    width: 94%;
    padding: 48px 0;
  }
}

@media (min-width: 740px) {
  /* line 14, ../sass/global/_base.scss */
  .content {
    float: left;
  }
}

@media (min-width: 740px) {
  /* line 20, ../sass/global/_base.scss */
  .left-sidebar {
    float: left;
  }
}

/* line 2, ../sass/global/_buttons.scss */
a {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #e67e22;
}
/* line 5, ../sass/global/_buttons.scss */
a:hover {
  color: #d35400;
}

/* line 10, ../sass/global/_buttons.scss */
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background: #3498db;
  border-radius: 5px;
  color: #fff;
  font: 600 1em/1 "Source Sans Pro", Helvetica, arial, sans-serif;
  text-transform: uppercase;
}
/* line 19, ../sass/global/_buttons.scss */
.btn:hover {
  background: #2980b9;
  color: #fff;
}
/* line 24, ../sass/global/_buttons.scss */
.btn.green {
  background: #2ecc71;
}
/* line 26, ../sass/global/_buttons.scss */
.btn.green:hover {
  background: #27ae60;
}

/* line 2, ../sass/global/_forms.scss */
.form-block {
  margin-bottom: 24px;
}

/* line 6, ../sass/global/_forms.scss */
.form-item,
.form-item-set {
  margin-bottom: 12px;
}
/* line 9, ../sass/global/_forms.scss */
.form-item:last-of-type,
.form-item-set:last-of-type {
  margin-bottom: 0;
}

/* line 14, ../sass/global/_forms.scss */
.form-item-set .form-item {
  margin-bottom: 0;
}

/* line 18, ../sass/global/_forms.scss */
.form-two-col {
  *zoom: 1;
}
/* line 2, ../sass/global/_mixins.scss */
.form-two-col:before, .form-two-col:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.form-two-col:after {
  clear: both;
}
/* line 20, ../sass/global/_forms.scss */
.form-two-col .form-item {
  float: left;
  width: 42%;
  margin-right: 4%;
}
@media (max-width: 440px) {
  /* line 20, ../sass/global/_forms.scss */
  .form-two-col .form-item {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

/* line 33, ../sass/global/_forms.scss */
label {
  display: block;
}

/* line 37, ../sass/global/_forms.scss */
input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  max-width: 340px;
  padding: 0.5em 1em;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font: 400 1em/1em "Source Sans Pro", Helvetica, arial, sans-serif;
}

/* line 49, ../sass/global/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #95a5a6;
}

/* line 55, ../sass/global/_forms.scss */
textarea {
  height: 5em;
}

/** Fieldset ============**/
/* line 62, ../sass/global/_forms.scss */
fieldset {
  margin-bottom: 48px;
}
/* line 64, ../sass/global/_forms.scss */
fieldset:last-of-type {
  margin-bottom: 24px;
}

/* line 69, ../sass/global/_forms.scss */
fieldset .title,
.order-summary .title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #bdc3c7;
  font: 400 24px/1 "Source Sans Pro", Helvetica, arial, sans-serif;
}

/** Checkboxes ============**/
/* line 80, ../sass/global/_forms.scss */
.form-checkbox {
  position: relative;
  margin-bottom: 0.5em;
}
/* line 83, ../sass/global/_forms.scss */
.form-checkbox input {
  opacity: 0;
  float: left;
  width: 20px;
}

/* line 90, ../sass/global/_forms.scss */
.form-checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
/* line 94, ../sass/global/_forms.scss */
.form-checkbox label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
  background: #bdc3c7;
  border-radius: 3px;
}
/* line 105, ../sass/global/_forms.scss */
.form-checkbox label .description {
  display: block;
  color: #bdc3c7;
  font-size: 12px;
  line-height: 1;
}

/* line 113, ../sass/global/_forms.scss */
.form-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 15px;
}

/* line 122, ../sass/global/_forms.scss */
.checkboxes input {
  opacity: 0;
  float: left;
  width: 20px;
}

/** Radio ============**/
/* line 132, ../sass/global/_forms.scss */
.form-radio label, .form-radio input {
  display: inline-block;
}

/** Buttons ============**/
/* line 140, ../sass/global/_forms.scss */
input[type="submit"],
button {
  border: none;
  font: 400 1em/1.5em "Source Sans Pro", Helvetica, arial, sans-serif;
  cursor: pointer;
}
@media (max-width: 600px) {
  /* line 140, ../sass/global/_forms.scss */
  input[type="submit"],
  button {
    width: 100%;
  }
}

/* Modules */
/* @import "modules/search-form"; */
/* Pages */
/* line 2, ../sass/pages/_style-guide.scss */
.style-guide {
  padding-top: 48px;
}
/* line 5, ../sass/pages/_style-guide.scss */
.style-guide .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
/* line 12, ../sass/pages/_style-guide.scss */
.style-guide .header .wrapper {
  max-width: none;
}

/* line 21, ../sass/pages/_style-guide.scss */
.item {
  margin-bottom: 24px;
}

/* line 25, ../sass/pages/_style-guide.scss */
.list-colors {
  margin-bottom: 0;
}

/* line 29, ../sass/pages/_style-guide.scss */
.list-colors [class*="col-"] {
  position: relative;
  background: #fff;
}
/* line 33, ../sass/pages/_style-guide.scss */
.list-colors [class*="col-"]:before {
  content: "";
  position: absolute;
  top: 0;
  right: 18px;
  bottom: 0;
  left: 18px;
  border: 1px solid #ecf0f1;
}

/* line 44, ../sass/pages/_style-guide.scss */
.color-swatch {
  position: relative;
}
/* line 47, ../sass/pages/_style-guide.scss */
.color-swatch:after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
/* line 53, ../sass/pages/_style-guide.scss */
.color-swatch.red {
  background: #e74c3c;
}
/* line 56, ../sass/pages/_style-guide.scss */
.color-swatch.blue {
  background: #3498db;
}
/* line 59, ../sass/pages/_style-guide.scss */
.color-swatch.green {
  background: #2ecc71;
}
/* line 62, ../sass/pages/_style-guide.scss */
.color-swatch.orange {
  background: #e67e22;
}

/* line 67, ../sass/pages/_style-guide.scss */
.color-hex {
  padding: 1em 0;
  text-align: center;
}

/* Sections */
/* line 2, ../sass/sections/_header.scss */
.header {
  background: #f7f8f8;
  border-bottom: 1px solid #ecf0f1;
}
/* line 6, ../sass/sections/_header.scss */
.header .wrapper {
  padding: 24px 0;
}

/* line 12, ../sass/sections/_header.scss */
.logo {
  float: left;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 18, ../sass/sections/_header.scss */
.logo a {
  color: #95a5a6;
}
/* line 20, ../sass/sections/_header.scss */
.logo a:hover {
  color: #3498db;
}

/* line 26, ../sass/sections/_header.scss */
.main-nav {
  position: relative;
  float: right;
}
@media (max-width: 1100px) {
  /* line 26, ../sass/sections/_header.scss */
  .main-nav {
    margin-top: 32px;
  }
}
@media (max-width: 440px) {
  /* line 26, ../sass/sections/_header.scss */
  .main-nav {
    margin-top: 20px;
  }
}
@media (max-width: 350px) {
  /* line 26, ../sass/sections/_header.scss */
  .main-nav {
    margin-top: 16px;
  }
}

@media (max-width: 1100px) {
  /* line 42, ../sass/sections/_header.scss */
  .main-nav ul {
    display: none;
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 20;
    background: #e74c3c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  /* line 53, ../sass/sections/_header.scss */
  .main-nav ul.show {
    display: block;
  }
}
/* line 60, ../sass/sections/_header.scss */
.main-nav li {
  float: left;
  margin-left: 50px;
}
@media (max-width: 1100px) {
  /* line 60, ../sass/sections/_header.scss */
  .main-nav li {
    float: none;
    margin: 0;
  }
}

/* line 70, ../sass/sections/_header.scss */
.main-nav li a {
  display: block;
  color: #95a5a6;
}
/* line 74, ../sass/sections/_header.scss */
.main-nav li a:hover, .main-nav li a.active {
  color: #2980b9;
}
@media (max-width: 1100px) {
  /* line 70, ../sass/sections/_header.scss */
  .main-nav li a {
    width: 240px;
    padding: 10px 20px;
    color: #fff;
  }
  /* line 82, ../sass/sections/_header.scss */
  .main-nav li a:hover, .main-nav li a.active {
    color: #fff;
    background: #c0392b;
  }
}

/** Mobile Menu Button **/
/* line 92, ../sass/sections/_header.scss */
.mobile-menu-btn {
  display: none;
  position: relative;
  padding: 10px 14px 10px 40px;
  text-transform: uppercase;
}
/* line 97, ../sass/sections/_header.scss */
.mobile-menu-btn.active {
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (max-width: 1100px) {
  /* line 92, ../sass/sections/_header.scss */
  .mobile-menu-btn {
    display: block;
  }
}

/* line 107, ../sass/sections/_header.scss */
.mobile-menu-btn .icon-menu {
  display: block;
  position: absolute;
  left: 10px;
  top: 11px;
  background: none;
}
/* line 113, ../sass/sections/_header.scss */
.mobile-menu-btn .icon-menu .bar {
  display: block;
  width: 20px;
  height: 3px;
  margin-bottom: 3px;
  background: #fff;
  border-radius: 2px;
}

/* line 123, ../sass/sections/_header.scss */
.mobile-menu-btn.active .bar:nth-child(1) {
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #fff;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* line 133, ../sass/sections/_header.scss */
.mobile-menu-btn.active .bar:nth-child(2) {
  position: absolute;
  top: 6px;
  left: 0;
  background-color: #fff;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* line 143, ../sass/sections/_header.scss */
.mobile-menu-btn.active .bar:nth-child(3) {
  display: none;
}

/* line 2, ../sass/sections/_footer.scss */
.footer {
  *zoom: 1;
  background: #f7f8f8;
  border-top: 1px solid #ecf0f1;
}
/* line 2, ../sass/global/_mixins.scss */
.footer:before, .footer:after {
  content: " ";
  display: block;
}
/* line 6, ../sass/global/_mixins.scss */
.footer:after {
  clear: both;
}

/* line 8, ../sass/sections/_footer.scss */
.footer-nav {
  float: left;
}
/* line 11, ../sass/sections/_footer.scss */
.footer-nav li {
  font-size: 13px;
  line-height: 21px;
}
@media (max-width: 600px) {
  /* line 11, ../sass/sections/_footer.scss */
  .footer-nav li {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  /* line 8, ../sass/sections/_footer.scss */
  .footer-nav {
    float: none;
    padding: 7px 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  /* line 26, ../sass/sections/_footer.scss */
  .footer-nav a {
    display: block;
    padding: 5px 0;
  }
}

/* line 33, ../sass/sections/_footer.scss */
.footer .follow-us {
  float: right;
}
/* line 35, ../sass/sections/_footer.scss */
.footer .follow-us .block-title {
  margin-bottom: 16px;
  font-size: 22px;
  text-align: center;
}
@media (max-width: 600px) {
  /* line 33, ../sass/sections/_footer.scss */
  .footer .follow-us {
    float: none;
    margin-bottom: 24px;
    text-align: center;
  }
}

/* line 48, ../sass/sections/_footer.scss */
.copyright {
  clear: both;
  padding-top: 18px;
}
/* line 51, ../sass/sections/_footer.scss */
.copyright p {
  font-size: 15px;
  text-align: center;
}
