
.style-guide {
    padding-top: $base*3;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        
        .wrapper {
            max-width: none;
        }
        
    }

}

.item {
    margin-bottom: $base;
}


/** COLORS =========================================**/

.list-colors {
    margin-bottom: 0;
}

.list-colors [class*="col-"] {
    position: relative;
    background: #fff;
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 18px;
        bottom: 0;
        left: 18px;
        border: 1px solid $lt-grey;
    }
}

.color-swatch {
    position: relative;
    
    &:after {
        content: "";
        display: block;
        padding-bottom: 75%;
    }
    
    &.red {
        background: $red;
    }
    &.blue {
        background: $blue;
    }
    &.green {
        background: $green;
    }
    &.orange {
        background: $orange;
    }
}

.color-info {
    padding: 1em 0;
    text-align: center;
    
    .color-hex {
        font-size: 14px;
    }
}

/** BUTTONS =========================================**/

.buttons .label {
    margin-bottom: 4px;
}

.buttons .btn {
    margin-bottom: 1em;

    @include bp-min-width($medium) {
        margin: 0 1em 0 0;
    }
}



